# {{ ansible_managed }}


[client]
port		= {{ percona_port }}
socket		= /var/run/mysqld/mysqld.sock

# Here is entries for some specific programs
# The following values assume you have at least 32M ram

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]

explicit_defaults_for_timestamp = 1

# GENERAL #
user				= mysql
default-storage-engine		= InnoDB
pid-file			= /var/run/mysqld/mysqld.pid
socket				= /var/run/mysqld/mysqld.sock
basedir             = /usr
datadir             = /var/lib/mysql
tmpdir              = /tmp
bind-address        = {{ percona_bind_address }}
port		        = {{ percona_port }}


# MyISAM #
key-buffer-size			= 32M
myisam-recover			= FORCE,BACKUP

# SAFETY #
max-allowed-packet		= {{ percona_max_allowed_packet }}
max-connect-errors		= 1000000

# DATA STORAGE #
datadir				= /var/lib/mysql/

{% if percona_enable_bin_log %}
# BINARY LOGGING #
log-bin				= /var/lib/mysql/sync-db01-bin
expire-logs-days		= 3
sync-binlog			= 1
server-id			= 1
binlog_format			= row
{% endif %}

# CACHES AND LIMITS #
tmp-table-size			= {{ percona_tmp_table_size }}
max-heap-table-size		= {{ percona_max_heap_table_size }}
query-cache-type		= {{ percona_query_cache_type }}
query-cache-size		= {{ percona_query_cache_size }}
max-connections			= {{ percona_max_connections }}
thread-cache-size		= {{ percona_thread_cache_size }} 
open-files-limit		= {{ percona_open_files_limit }}
table-definition-cache	= {{ percona_table_definition_cache }}
table-open-cache		= {{ percona_table_open_cache }}

# INNODB #
innodb_flush_method		       = {{ percona_innodb_flush_method }}
innodb_log_files_in_group	   = {{ percona_innodb_log_files_in_group }}
innodb_log_file_size		   = {{ percona_innodb_log_file_size }}
innodb_flush_log_at_trx_commit = {{ percona_innodb_flush_log_at_trx_commit }}
innodb_file_per_table		   = {{ percona_innodb_file_per_table }}
innodb_buffer_pool_size		   = {{ ansible_memtotal_mb - 500 }}M

# LOGGING #
log-error			= /var/log/mysql/mysql-error.log
log-queries-not-using-indexes	= {{ percona_sqldebug }}
slow-query-log			= 1
slow-query-log-file		= {{ percona_log_slow_queries }}

!includedir /etc/mysql/conf.d/
